[submodule "mc3_tools/emulator/emu-utils"]
	path = mc3_tools/emulator/emu-utils
	url = https://github.com/PegaFox/emu-utils
[submodule "mc3_tools/emulator/gui-lib"]
	path = mc3_tools/emulator/gui-lib
	url = https://github.com/PegaFox/gui-lib
[submodule "mc3_tools/C_compiler/c-compiler-lib"]
	path = mc3_tools/C_compiler/c-compiler-lib
	url = https://github.com/PegaFox/c-compiler-lib
[submodule "mc3_tools/assembler/expression-parser"]
	path = mc3_tools/assembler/expression-parser
	url = https://github.com/PegaFox/expression-parser
